apache-airflow==2.3.2
apache-airflow-providers-amazon
apache-airflow-providers-ssh
apache-airflow-providers-http
apache-airflow-providers-jira
apache-airflow-providers-pagerduty
apache-airflow-providers-postgres
apache-airflow-providers-salesforce
apache-airflow-providers-sendgrid
apache-airflow-providers-sqlite
apache-airflow-providers-slack
pytz
boto3>=1.15.0
couchbase==3.0.10
pyOpenSSL
ndg-httpsclient
pandas
flake8
paramiko>=2.6.0
sshtunnel>=0.1.4
pysftp>=0.2.9
factory-boy==2.12.0
psycopg2-binary
alembic==1.8.0
pytest-factoryboy==2.0.3
apache-airflow==2.3.2
pytest
pyyaml
pydantic
geocoder
python-gnupg==0.4.6
redshift_connector>=2.0.888
mypy-boto3-redshift-data>=1.21.0
mypy-boto3-rds>=1.21.0
jsonpath_ng>=1.5.3
pluggy==1.0.0
pycryptodome
watchtower==2.0.1
mypy
sqlalchemy-redshift
constants
overpunch
xlrd==1.2.0
xmltodict==0.13.0
docker
freezegun
sqlalchemy==1.4.9
flask-sqlalchemy==2.4.4
SQLAlchemy-Utils==0.37.8
openpyxl
pyx12
xlsxwriter
flask-openid==1.3.0
jinja2==2.11.0
weasyprint==52.5
kombu==5.1.0
pyxlsb
Redis
celery==5.1.2
flower
sendgrid
